body {
    background-color: #23282b;
}

ol {
    list-style: none;
    font: normal 1.5rem arial;
    align-items: center;
}

ol li {
    margin: 6px;

}

ol li.subT {
    color: bisque;
}

ol li.subTiObs {
    color: bisque;
    font: normal 1rem arial;
    margin-top: 0px;
}

ol li.DimFont {
    color: darkorange;
    font: normal 1.2rem arial;
}

a {
    text-decoration: none;
    font: normal 1.3rem arial;
    color: aliceblue;
}

header.HeaderMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
}

ol.menu {
    display: flex;
    gap: 15px;
    padding: 25px;
    margin: 15px;
}

ol.menu li {
    padding: 0px;
    border-radius: 15px;
}

ol.menu li a {
    background-color: rgb(86, 0, 167);
    padding: 7px;
    border-radius: 7px;
}

ol.menu li a:hover {
    background-color: rgb(212, 166, 14);
    color: rgb(86, 0, 167);
}

p.destaque {
    font: bold 1.5rem arial;
    color: bisque;
    margin: 5pt;
    padding: 2pt;
}

p.Detalhe {
    font: normal 1.3rem arial;
    color: bisque;
}

div.column1 {
    margin-left: 10%;
    justify-content: space-between;
}

a.btnEx {
    background-color: rgba(68, 6, 126, 0.61);
    padding: 15px;
    font: bolder 1.7rem arial;
    border: 3px;
    border-radius: 25px;
}

a.btnEx:hover {
    color: darkorange;
    background-color: rgb(56, 4, 105);
}

button.bnt {
    margin: 25px;
    border: 3px solid rgb(177, 135, 0);
    padding: 12px;
    border-radius: 15px;
    background-color: rgb(90, 81, 81);
    font: bold 1.4rem arial;
    color: rgb(216, 216, 216);
}

button.bnt:hover {
    color: darkorange;
    background-color: rgb(56, 4, 105);
    border-color: darkorange;
}

strong.plus {
    background-color: darkorange;
    margin: 3px;
    padding: 10px;
    border: 2px solid bisque;
    border-radius: 30%;
    font: bolder 1.4rem arial;
    color: bisque;
}

.container {
    display: inline-block;
    position: relative;
}

.container h1 {
    position: absolute;
    top: 210px;
    right: 250px;
    font-weight: lighter;
    font-family: Poppins;
    font-size: 70px;
    color: white;
}

.container p {
    position: absolute;
    top: 260px;
    right: 137px;
    font-family: Lucidity, Condensed;
    font-size: 100px;
    color: white;
}